<!-- Contact -->
<section id="contact">

</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.vk_url %}
				<li><a href="{{ site.vk_url }}" class="icon alt fa-vk" target="_blank"><span class="label">VK</span></a></li>
				{% endif %}

			</ul>

		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "/assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>
